@font-face {
    font-family: 'Marcellus';
    src: url('fonts/Marcellus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype'),
         url('fonts/Lora-VariableFont_wght.ttf') format('truetype'),
         url('fonts/static/Lora-Bold.ttf') format('truetype'),
         url('fonts/static/Lora-BoldItalic.ttf') format('truetype'),
         url('fonts/static/Lora-Italic.ttf') format('truetype'),
         url('fonts/static/Lora-Medium.ttf') format('truetype'),
         url('fonts/static/Lora-MediumItalic.ttf') format('truetype'),
         url('fonts/static/Lora-SemiBold.ttf') format('truetype'),
         url('fonts/static/Lora-SemiBoldItalic.ttf') format('truetype'),
         url('fonts/static/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Marcellus';
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color:black;
}

a:focus{
    color:black;
}

.flex-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 15%;
    background-color: black;
}

.custom-logo-link{
    padding: 0 15px; 
}

.navbar-nav{
    display: flex;
    text-transform: uppercase;
}

.navbar-nav li{
    margin: 15px 15px; 
}

.navbar-nav li a{
    color: #FFFFFF;
    font-size: 14px; 
    font-weight: 400;
    line-height: 10px;
}
.navbar-nav li:hover{
    border-bottom: 1px solid #fff;
    transition: .5s;
}

.login-register{
    margin: 15px 15px; 
}

.login-register span{
    color: #FFF;
    font-family: Marcellus;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.login-register:hover{
    border-bottom: 1px solid #fff;
    transition: .5s;
    cursor: pointer;
}

#block-header-title-and-image{
    width: 100%;
    padding: 0 20%;
    height: 750px;
    background-color: black;
}

#block-header-title-and-image span{
    opacity: 0;
}

#header-subtitle em{
    font-family: 'Lora';
    line-height: 25px;
}

#header-title{
    line-height: 60px;
}

#header-description{
    padding-top: 10px;
    width: 36%;
    font-family: 'Lora-Regular';
    font-size: 14px;
}

#main-first-block{
    background-color: #F4F4F4;
    padding: 100px 15%;
}

#main-first-block-subtitle{
    color: #C3935B;
    font-family: "Lora";
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 10px;
}

#main-first-block-title-first-part{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    padding-bottom: 10px;
}

#main-first-block-title-second-part{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    padding-bottom: 10px;
}

#main-first-block-text{
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 30px;
}

.wp-block-button{
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.wp-block-button:active {
    transform: translate(0em, 0.10em);
}

.wp-block-button:active::before {
    transform: translate3d(0, 0, 0.20em);
}

#header-button-first,
#header-button-second{
    padding-top: 45px;
}

#header-button-first a{
    border-radius: 0;
    background: #fff;
    padding: 10px 15px;
    color: #000;
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    margin-right: 5px;
}

#header-button-first a:hover{
    background: #000;
    color: #fff;
    border: 1px solid #FFF;
    transform: translate(0.10em, 0.10em);
}

#header-button-second a{
    border-radius: 0;
    background: #000;
    padding: 10px 15px;
    color: #FFF;
    border: 1px solid #FFF;
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    margin-right: 5px;
}

#header-button-second a:hover{
    background: #fff;
    color: #000;
    transform: translate(0.10em, 0.10em);
}

#main-first-block-button-first a{
    border-radius: 0;
    background: var(--Dark-Light, #777);
    padding: 10px 15px;
    color: #FFF;
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    margin-right: 5px;
}

#main-first-block-button-first a:hover{
    background: #000;
    transform: translate(0.10em, 0.10em);
}

#main-first-block-button-second a{
    border-radius: 0;
    border: 1px solid var(--Grey, #DFDFDF);
    color: var(--Dark, #242424);
    font-family: 'Lora-Regular';
    font-size: 14px;
    background-color: transparent;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
}

#main-first-block-button-second a:hover{
    background: var(--Grey, #DFDFDF);
    transform: translate(0.10em, 0.10em);
}

#main-first-block-button-second a:active {
    border: 1px solid var(--Dark, #242424);
    background: var(--Dark-Light, #777);
}

#main-second-block{
    padding: 0 15%;
    padding-bottom: 50px;
    background-color: #F4F4F4;
}

#main-second-block-title{
    color: var(--Dark, #242424);
    text-align: center;
    font-family: Marcellus;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 10px;
}

#left-block-first-slider span,
#left-block-second-slider span{
    opacity: 0;
}

#left-block-first-slider,
#left-block-second-slider{
    width: 100%;
    margin-right: 75px;
}

#left-block-first-slider div{
    position: relative;
    top: 80px;
}

#left-block-second-slider div{
    position: relative;
    top: 50px;
}

#left-block-first-slider div p:first-child{
    color: #000;
    font-family: 'Lora-Regular';
    font-size: 30px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

#left-block-first-slider div p:last-child{
    color: var(--Dark-Light, #777);
    text-align: center;
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

#left-block-second-slider div p:first-child{
    color: #fff;
    font-family: 'Lora-Regular';
    font-size: 30px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

#left-block-second-slider div p:last-child{
    color: #fff;
    text-align: center;
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

#block-first-slider{
    padding-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.slick-slide {
    opacity: 0 !important;
}

.slick-slide.slick-active {
    opacity: 1 !important;
}

#main-third-block{
    background-color: #F4F4F4;
    padding: 0 15% 100px;
}

#main-third-block .wp-block-media-text__content{
    margin-left: 80px;
    padding: 0;
}

#main-third-block #main-first-block-title-second-part{
    padding-bottom: 40px;
}

#main-fourth-block{
    background-color: #F4F4F4;
    padding: 0 15% 100px;
}

#main-fourth-block #main-first-block-title-first-part span {
    color: #C3935B;
}

#main-fourth-block .wp-block-media-text__content{
    padding: 0;
    margin-right: 15px;
}

#main-fourth-list-text{
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 5px 0;
}

#main-fourth-list{
    margin-left: 30px;
}

#main-fourth-block-text{
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 15px;
}

#main-fourth-block #main-first-block-button-second,
#main-fourth-block #main-first-block-button-first{
    padding-top: 40px;
}

#main-fifth-block{
    background-color: #F4F4F4;
    padding: 0 15% 100px;
}

#main-fifth-block #left-block-first-slider{
    padding: 0;
}

#main-fifth-block #left-block-first-slider div{
    top: 0;
}

#main-fifth-block-title-offer{
    color: var(--Dark, #242424);
    font-family: 'Lora';
    font-size: 22px;
    font-style: italic !important;
    font-weight: 500;
    line-height: 25px;
    margin-left: 45% !important;
}

#main-fifth-block-product-offer{
    width: 100%;
    margin: 20px 0 0 45% !important;
    padding: 0 !important;
}

#main-fifth-block-product-offer h2{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 54px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
}

#main-fifth-block-name-offer{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 54px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    text-transform: uppercase;
    margin-left: 45% !important;
}

#main-fifth-block-desc-offer{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    margin-left: 45% !important;
}

.wp-block-cover .wp-block-cover__image-background{
    height: auto !important;
}
#main-fifth-block #main-first-block-button-first{
    margin: 40px 0 0 45% !important;
}

#main-fifth-block-title-products{
    color: #000;
    font-family: Marcellus;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#main-fifth-block .wp-block-group.is-nowrap.is-layout-flex.wp-container-core-group-layout-15.wp-block-group-is-layout-flex div{
    padding: 0 !important;
    width: 100%;
}

#main-fifth-block-products ul:first-child{
    margin-right: 45px !important;
}

#main-fifth-block-products ul li{
    border-bottom: 1px solid var(--Grey, #DFDFDF);
    padding: 10px 0;
}

#main-fifth-block-products ul li div{
    margin: 0;
}

#main-fifth-block-products ul li div h2{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    padding-bottom: 10px !important;
}

.woocommerce-Price-amount{
    color: var(--Gold, #C3935B);
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

#main-sixth-block{
    background-color: #F4F4F4;
    padding: 0 15%;
}

#custom-footer{
    background-color: #EAEAEA;
    padding: 60px 15% 70px;
}

#footer-first-part{
    max-width: 25%;
}

#footer-first-part div figure img{
    width: auto !important;
    vertical-align: middle;
}

#footer-first-part-decs{
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 0 30px;
}

#footer-first-part div p{
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#footer-first-part-contacts{
    padding-bottom: 10px;
}

#footer-second-part{
    min-width: 50%;
    margin-right: 20px;
}

#footer-second-part div div p,
#footer-third-part div div p,
#footer-fourth-part div div p{
    color: #000;
    font-family: Marcellus;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 0 !important
}

#footer-second-part ul li{
    display: grid;
    grid-template-areas: "first second" "first third";
    padding: 15px 0;
}

#footer-second-part ul li:first-child{
    border-bottom: 1px solid var(--Grey, #DFDFDF);
}

#footer-second-part ul li div{
    grid-area: first;
}

#footer-second-part ul li a{
    grid-area: second;
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 15px;
}

#footer-second-part ul li time{
    grid-area: third;
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding-left: 15px;
}

#footer-second-part ul li div img{
    max-width: 75px;
    max-height: 65px;
    height: auto;
    width: auto;
}

#footer-third-part p,
#footer-fourth-part p{
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 0;
}

.wc-block-mini-cart__button{
    min-width: 120px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 15px !important;
}

.wc-block-mini-cart__amount{
    position: absolute;
    left: 40px;
    font-family: Marcellus;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 16px;
    text-transform: uppercase;
}

.wc-block-mini-cart__icon{
    width: 24px !important;
    height: 24px !important;
}

.wc-block-mini-cart__badge{
    min-width: 11px !important;
    height: 12px !important;
    color: #fff;
    font-size: 10px !important;
}

.wp-block-search__button-behavior-expand{
    border: transparent;
}

.wp-block-search__button svg{
    transform: rotate(270deg);
}

.wp-block-search__button svg:hover{
    color: var(--Gold, #C3935B);
    transition: 0.5s;
}

.wp-block-search__button-behavior-expand .wp-block-search__input{
    background-color: #000;
    border: transparent !important;
    border-bottom: 1px solid #fff !important;
    width: 600px;
}

.wp-block-search__input{
    outline: none;
}

.wp-block-search__input::placeholder{
    margin-right: 20px;
}

.wp-block-search.wp-block-search__button-only .wp-block-search__button{
    background-color: #000;
    border: none;
}

.wp-block-search__button-behavior-expand .wp-block-search__input{
    transition: 0.5s;
}

.wc-block-mini-cart__button:hover{
    opacity: 1 !important;
    cursor: pointer;
}

.wc-block-mini-cart__quantity-badge svg:hover{
    color: var(--Gold, #C3935B);
    transition: 0.5s;
}

.wc-block-components-drawer__screen-overlay--with-slide-in .wc-block-components-drawer{
    max-width: 350px;
}

.wp-block-woocommerce-mini-cart-title-block{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 15px !important;
    margin: 0 !important;
    text-transform: uppercase;
    border-bottom: 3px solid #777;
}

.price.wc-block-components-product-price span{
    color: var(--Gold, #C3935B);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.wc-block-cart-item__quantity{
    padding: 0 !important;
}

.wc-block-components-quantity-selector>.wc-block-components-quantity-selector__button--minus{
    border-right: 1px solid rgba(119, 119, 119, 0.50) !important;
}

.wc-block-components-quantity-selector>.wc-block-components-quantity-selector__button--plus{
    border-left: 1px solid rgba(119, 119, 119, 0.50) !important;
}

.wc-block-components-totals-item__description{
    display: none !important;
}

.wc-block-mini-cart__footer-actions{
    display: flex;
    flex-direction: column;
}

.wc-block-mini-cart__footer-actions a{
    width: 100%;
}

.wc-block-components-button:first-child{
    background: var(--Dark-Light, #777) !important;
    color: #fff !important;
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
}

.wc-block-components-button:first-child:hover{
    background: var(--Dark-Light, #333) !important;
    transition: 0.5s;
}

.wc-block-components-button:last-child{
    background: var(--Gold, #C3935B) !important;
    color: #fff !important;
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
}

.wc-block-components-button:last-child:hover{
    background: var(--Gold, #956a39) !important;
    transition: 0.5s;
}

.components-button.wc-block-components-button.wp-element-button.wc-block-components-drawer__close.contained.has-text.has-icon{
    background-color: transparent !important;
    color: var(--Dark, #242424) !important;
    font-size: 18px !important;
    outline: none;
}

.components-button.wc-block-components-button.wp-element-button.wc-block-components-drawer__close.contained.has-text.has-icon:hover{
    background-color: transparent !important;
}

.wp-block-button__link{
    border-radius: 0 !important;
    margin-top: 10px;
}

.added_to_cart.wc-forward{
    display: none !important;
}

.wcps-items-title,
.wcps-items-category,
.wcps-items-price,
.wcps-items-cart{
    text-align: center !important;
    padding-bottom: 5px;
}

.wcps-items-title a{
    color: var(--Dark, #242424);
    font-family: Marcellus;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.wcps-items-price bdi{
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.wcps-items-category a{
    color: var(--Dark-Light, #777);
    font-family: 'Lora-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.product.woocommerce.add_to_cart_inline a{
    color: #FFF;
    font-family: 'Lora-Regular';
    font-size: 12px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    padding-top: 10px;
    border-radius: 0 !important;
    padding: 5px 10px;
}

.product.woocommerce.add_to_cart_inline a:hover{
    background: #956a39;
    transform: translate(0.10em, 0.10em);
}

@media (min-width: 640px) {
	#main-first-block,
    #main-second-block #block-first-slider,
    #main-third-block,
    #main-fourth-block,
    #main-fifth-block{
        display: flex;
        flex-wrap: wrap;
    }

    .wp-block-search__button-behavior-expand .wp-block-search__input{
        width: 300px;
    }
}

@media (min-width: 1200px) {
	#main-first-block,
    #main-second-block #block-first-slider,
    #main-third-block,
    #main-fourth-block,
    #main-fifth-block{
        flex-wrap: nowrap;
    }

    .wp-block-search__button-behavior-expand .wp-block-search__input{
        width: 600px;
    }
}  